{{ define "index" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Koluszki</title>
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    <script src="https://unpkg.com/alpinejs@3.14.1/dist/cdn.min.js" defer></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms"></script>
  </head>
  <body class="bg-white dark:bg-gray-900">

    <nav class="border-gray-200 bg-gray-50 dark:border-gray-700 dark:bg-gray-800">
      <div class="mx-auto flex max-w-screen-xl flex-wrap items-center justify-between p-4">
        <span class="self-center whitespace-nowrap text-2xl font-semibold dark:text-white">
          Koluszki by <a target="_blank" href="https://github.com/thinkofher"><b class="font-bold hover:text-blue-600">@thinkofher</b></a>
        </span>
        <a href="https://github.com/thinkofher/koluszki" target="_blank">
          <svg class="w-6 h-6 text-gray-800 dark:text-white hover:text-blue-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M12.006 2a9.847 9.847 0 0 0-6.484 2.44 10.32 10.32 0 0 0-3.393 6.17 10.48 10.48 0 0 0 1.317 6.955 10.045 10.045 0 0 0 5.4 4.418c.504.095.683-.223.683-.494 0-.245-.01-1.052-.014-1.908-2.78.62-3.366-1.21-3.366-1.21a2.711 2.711 0 0 0-1.11-1.5c-.907-.637.07-.621.07-.621.317.044.62.163.885.346.266.183.487.426.647.71.135.253.318.476.538.655a2.079 2.079 0 0 0 2.37.196c.045-.52.27-1.006.635-1.37-2.219-.259-4.554-1.138-4.554-5.07a4.022 4.022 0 0 1 1.031-2.75 3.77 3.77 0 0 1 .096-2.713s.839-.275 2.749 1.05a9.26 9.26 0 0 1 5.004 0c1.906-1.325 2.74-1.05 2.74-1.05.37.858.406 1.828.101 2.713a4.017 4.017 0 0 1 1.029 2.75c0 3.939-2.339 4.805-4.564 5.058a2.471 2.471 0 0 1 .679 1.897c0 1.372-.012 2.477-.012 2.814 0 .272.18.592.687.492a10.05 10.05 0 0 0 5.388-4.421 10.473 10.473 0 0 0 1.313-6.948 10.32 10.32 0 0 0-3.39-6.165A9.847 9.847 0 0 0 12.007 2Z" clip-rule="evenodd"/>
          </svg>
        </a>
      </div>
    </nav>

    <section class="bg-white dark:bg-gray-900">
      <div class="mx-auto max-w-screen-xl p-4">

        <div class="space-y-4 md:space-y-0 md:space-x-4 flex flex-col md:flex-row md:h-[calc(100vh-100px)]">

          <form class="flex flex-col md:w-1/2 rounded-lg border border-gray-200 bg-gray-50 p-4 dark:border-gray-700 dark:bg-gray-800"
                hx-post="/code"
                hx-target="#code-container"
                hx-trigger="input delay:100ms">
            <label for="html-code" class="mb-2 text-3xl font-extrabold text-gray-900 dark:text-white">Your HTML</label>

            <fieldset class="grid grid-cols-1 md:grid-cols-2 gap-5 md:gap-6 py-3"
                      x-data="{
                        enableHTML: true,
                        textInputClass: 'block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer',
                        labelClass: 'absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-gray-50 dark:bg-gray-800 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1',
                        textInputDisabledClass: 'block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer',
                        labelDisabledClass: 'absolute text-sm text-gray-400 dark:text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-gray-50 dark:bg-gray-800 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 start-1 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto',
                      }">
              <label class="inline-flex items-center cursor-pointer">
                <input name="svg" type="checkbox" value="on" class="sr-only peer">
                <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Render SVG</span>
              </label>
              <div class="relative">
                <input name="gomponents" type="text" id="gomponents" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " value="g"></input>
                <label for="gomponents" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-gray-50 dark:bg-gray-800 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Gomponents Alias</label>
              </div>
              <label class="inline-flex items-center cursor-pointer">
                <input :checked="enableHTML" @change="enableHTML = !enableHTML" name="html-enabled" type="checkbox" value="on" class="sr-only peer">
                <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">HTML Package</span>
              </label>
              <div class="relative">
                <input name="html-pkg" :disabled="!enableHTML" type="text" id="html-pkg" :class="enableHTML ? textInputClass : textInputDisabledClass" placeholder=" " value="h"/>
                <label for="html-pkg" :class="enableHTML ? labelClass : labelDisabledClass">HTML Package Alias</label>
              </div>
            </fieldset>

            <textarea name="code" id="html-code" rows="4" class="block w-full h-full resize-none rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500" placeholder="Paste your HTML here..."></textarea>
          </form>

          <div class="flex flex-col md:w-1/2 rounded-lg border border-gray-200 bg-gray-50 p-4 md:min-h-0 dark:border-gray-700 dark:bg-gray-800">
            <h2 class="mb-2 text-3xl font-extrabold text-gray-900 dark:text-white">Go code</h2>
            <div class="w-full overflow-scroll">
              <div class="relative bg-gray-50 rounded-lg dark:bg-gray-700 p-4">

                {{ block "code" . }}
                <div id="code-container" class="overflow-scroll max-h-full">
                  <pre><code id="code-block" class="text-sm text-gray-500 dark:text-gray-400 whitespace-pre">{{ .Code }}</code></pre>
                </div>
                {{ end }}

                <div class="absolute top-2 end-2 bg-gray-50 dark:bg-gray-700"
                     x-data="{ success: false }">
                  <button class="text-gray-900 dark:text-gray-400 m-0.5 hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-600 dark:hover:bg-gray-700 rounded-lg py-2 px-2.5 inline-flex items-center justify-center bg-white border-gray-200 border"
                          @click="window.navigator.clipboard.writeText(document.querySelector('#code-block').innerText),
                                  success = true,
                                  setTimeout(() => { success = false }, 1500)">

                    <span x-show="!success" id="default-message" class="inline-flex items-center">
                      <svg class="w-3 h-3 me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                        <path d="M16 1h-3.278A1.992 1.992 0 0 0 11 0H7a1.993 1.993 0 0 0-1.722 1H2a2 2 0 0 0-2 2v15a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2Zm-3 14H5a1 1 0 0 1 0-2h8a1 1 0 0 1 0 2Zm0-4H5a1 1 0 0 1 0-2h8a1 1 0 1 1 0 2Zm0-5H5a1 1 0 0 1 0-2h2V2h4v2h2a1 1 0 1 1 0 2Z"></path>
                      </svg>
                      <span class="text-xs font-semibold">Copy code</span>
                    </span>

                    <span x-show="success" id="success-message" class="inline-flex items-center">
                      <svg class="w-3 h-3 text-blue-700 dark:text-blue-500 me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"></path>
                      </svg>
                      <span class="text-xs font-semibold text-blue-700 dark:text-blue-500">Copied</span>
                    </span>

                  </button>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
  </body>
</html>
{{ end }}
